<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spring Boot Kafka Producer</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="style/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="header::header"></div>
<br/>
<div class="container">
    <div class="jumbotron">
        <h2>Spring Boot Kafka Producer</h2>
        <br/>
        <h3>Files uploaded:</h3>
        <table width="100%" class="table table-striped table-bordered table-hover" id="files_table">
            <thead>
            <tr>
                <th>Original Name</th>
                <th>Filename</th>
                <th>Description</th>
                <th>Date</th>
                <th>State</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(fileUploadList)}" th:each="fileUploaded : ${fileUploadList}">
                <td th:text="${fileUploaded.originalName}"></td>
                <td th:text="${fileUploaded.filename}"></td>
                <td th:text="${fileUploaded.description}"></td>
                <td th:text="${#dates.format(fileUploaded.uploadDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:switch="${fileUploaded.state}">
                    <span th:case="P">Processing</span>
                    <span th:case="C">Completed</span>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(fileUploadList)}">
                <td colspan="5">No hay registros disponibles.</td>
            </tr>

            </tbody>
        </table>
        <br/><br/>
        <button type="button" class="btn btn-primary" onclick="location.href='/uploadFile'">Upload file</button>
    </div>
</div>
</body>
</html>